body { text-align: center; }
#wrapper { display: block; border: 1px #eeeeee transparent; width:90%; margin:1px auto; }
#header { border: 1px #eeeeee transparent; }
#content { width: 75%; border: 2px #2E2126 transparent; float: left; }
#sidebar { width: 23%; border: 2px #2E2126 transparent; float: right; }
#delimiter { clear: both; }
#footer { border: 1px #eeeeee transparent; }
.title { font-size: 13pt; font-family: arial,sans-serif; font-weight: bold; }
